@import "../omarchy/current/theme/waybar.css";
@import "tokens/colors.css";
@import "tokens/state.css";
@import "tokens/workspace.css";
@import "tokens/widget.css";
@import "tokens/clock.css";
@import "tokens/slider.css";

* {
  background-color: @background;
  color: @foreground;

  margin: 0;
  padding: 0 2 0 2;
  min-height: 0px;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
}